### Download the data

In [10]:
import modules.data_module as dm

#dm.retrieve_data("https://corgis-edu.github.io/corgis/datasets/csv/graduates/graduates.csv")
#dm.retrieve_data("https://corgis-edu.github.io/corgis/datasets/csv/graduates/graduates.csv", download=True, save_path="data/graduates.csv")
#dm.retrieve_data("data/graduates.csv")

,Year,Demographics.Total,Education.Major,Salaries.Highest,Salaries.Lowest,Salaries.Mean,Salaries.Median,Salaries.Quantity,Salaries.Standard Deviation,Demographics.Ethnicity.Asians,...,Employment.Work Activity.Design,Employment.Work Activity.Development,Employment.Work Activity.Human Resources,Employment.Work Activity.Managing/Supervising People/Projects,Employment.Work Activity.Other,Employment.Work Activity.Productions/Operations/Maintenance,Employment.Work Activity.Professional Service,Employment.Work Activity.Qualitity/Productivity Management,"Employment.Work Activity.Sales, Purchasing, Marketing",Employment.Work Activity.Teaching
0,1993,1295598,Biological Sciences,999999.0,0.0,160585.73,51000.0,13432,297818.25,84495,...,118772,191867,365049,539430,99749,103385,506252,269042,215169,381908
1,1993,211875,Chemical Engineering,999999.0,9000.0,126176.52,56000.0,3375,245705.77,27531,...,82344,76108,59299,102248,16361,30480,24690,63895,44780,17718
2,1993,507616,Chemistry,999999.0,8000.0,148872.00,60000.0,7834,276000.33,49984,...,81772,123256,121783,208278,35007,40898,129716,114801,78059,104191
3,1993,336366,Civil Engineering,999999.0,10000.0,129070.55,50000.0,4035,259543.49,37295,...,133430,62031,108338,203035,37940,28639,70727,116758,73133,26892
4,1993,1070111,Computer Science and Math,999999.0,0.0,134299.53,49000.0,9996,269323.82,83826,...,251941,200490,287405,439446,62482,73411,126083,223467,168404,234507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,2015,1176525,Sociology,1223166.0,0.0,58871.70,50000.0,1798,62083.18,59244,...,85782,151538,261143,415552,204818,72050,342903,183692,345302,301924
513,2015,55738,Statistics,1038725.0,0.0,99210.87,88000.0,157,90534.66,16211,...,13908,11798,8419,19960,3437,5489,12803,7736,10741,6290
514,2015,169991,"Zoology, General",1223166.0,0.0,86957.98,60000.0,317,124675.05,17563,...,15366,30180,29873,60016,29924,24622,57404,30979,35810,56660
515,2015,0,Management & Administration,0.0,0.0,0.00,0.0,0,0.00,0,...,0,0,0,0,0,0,0,0,0,0
516,2015,0,Political and related sciences,0.0,0.0,0.00,0.0,0,0.00,0,...,0,0,0,0,0,0,0,0,0,0