### Download the data and remove rows containing null values

In [2]:
import modules.data_module as dm
import pandas as pd

data_url = "https://corgis-edu.github.io/corgis/datasets/csv/graduates/graduates.csv"
data_path = "data/graduates.csv"

dm.retrieve_data(data_url, save_to_file=True, save_path="data/graduates.csv")

data = dm.retrieve_data(data_path).set_index("Unnamed: 0")
data.index.name = "ID"

data
# Remove Salaries.Highest or Salaries.Lowest as the Salaries.Mean and Salaries.Median are of interest.
data = data.drop(["Salaries.Lowest", "Salaries.Highest"], axis=1)

# Remove all rows where any column in the row has a value of 0
data = data[(data != 0).all(1)]

# Remove all rows where Education.Major is not: 
# "Biological Sciences", "Chemical Engineering", "Chemistry", "Civil Engineering", "Computer Science and Math",
# "Economics", "Electrical Engineering", "Management & Administration", "Mechanical Engineering", "Other Engineering"
# "Physics and Astronomy" or "Psychology"
majors_of_interest = ["Biological Sciences", "Chemical Engineering", "Chemistry", "Civil Engineering", 
                      "Computer Science and Math", "Economics", "Electrical Engineering", "Management & Administration", 
                      "Mechanical Engineering", "Other Engineering","Physics and Astronomy", "Psychology"]
data = data.loc[data['Education.Major'] .isin(majors_of_interest)]

data

,Year,Demographics.Total,Education.Major,Salaries.Mean,Salaries.Median,Salaries.Quantity,Salaries.Standard Deviation,Demographics.Ethnicity.Asians,Demographics.Ethnicity.Minorities,Demographics.Ethnicity.Whites,...,Employment.Work Activity.Design,Employment.Work Activity.Development,Employment.Work Activity.Human Resources,Employment.Work Activity.Managing/Supervising People/Projects,Employment.Work Activity.Other,Employment.Work Activity.Productions/Operations/Maintenance,Employment.Work Activity.Professional Service,Employment.Work Activity.Qualitity/Productivity Management,"Employment.Work Activity.Sales, Purchasing, Marketing",Employment.Work Activity.Teaching
ID,,,,,,,,,,,,,,,,,,,,,
0,1993,1295598,Biological Sciences,160585.73,51000.0,13432,297818.25,84495,115016,1094775,...,118772,191867,365049,539430,99749,103385,506252,269042,215169,381908
1,1993,211875,Chemical Engineering,126176.52,56000.0,3375,245705.77,27531,11278,173067,...,82344,76108,59299,102248,16361,30480,24690,63895,44780,17718
2,1993,507616,Chemistry,148872.00,60000.0,7834,276000.33,49984,35181,421911,...,81772,123256,121783,208278,35007,40898,129716,114801,78059,104191
3,1993,336366,Civil Engineering,129070.55,50000.0,4035,259543.49,37295,17421,281442,...,133430,62031,108338,203035,37940,28639,70727,116758,73133,26892
4,1993,1070111,Computer Science and Math,134299.53,49000.0,9996,269323.82,83826,98047,887476,...,251941,200490,287405,439446,62482,73411,126083,223467,168404,234507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,2015,1154661,Electrical Engineering,109173.61,100000.0,4198,80239.79,375520,155870,623271,...,490703,425903,215384,546784,115154,271693,98310,280963,238210,162343
496,2015,950566,Mechanical Engineering,98533.83,90646.0,4143,65066.19,184209,117901,648456,...,503729,420590,240458,595890,87240,254214,108836,318860,267587,157312
503,2015,1306845,Other Engineering,96287.14,90000.0,4561,73037.23,235954,228427,842463,...,484937,449263,326931,721307,128705,299484,193296,433175,334061,241025
506,2015,317500,Physics and Astronomy,93267.10,82000.0,1229,95947.47,80303,29726,207471,...,105914,91318,53115,149259,37892,61382,41317,66073,58543,91933
510,2015,3355678,Psychology,63618.92,51000.0,5679,79469.97,183140,674394,2498144,...,393031,587896,849298,1427662,411183,204181,1285030,637806,905374,1089982

### Plot Salaries.Mean for the majors of interest

In [6]:
import matplotlib as plt
#honda_gas_data = data_df.loc[(data_df["Identification.Make"] == "Honda") & (data_df["Fuel Information.Fuel Type"] == "Gasoline")]
#print(honda_gas_data)
data = data.loc[(data["Education.Major"]) & (["Salaries.Mean"])]
data

TypeError: 'DataFrame' object is not callable